{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class=" row">
  <div class="col-4 px-5">
    <h3>API Log</h3>
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">Task list all</a>
      <a href="#" class="list-group-item list-group-item-action">Login</a>
      <a href="#" class="list-group-item list-group-item-action">Signup</a>
      <a href="#" class="list-group-item list-group-item-action">Add task</a>
      <a href="#" class="list-group-item list-group-item-action">Check</a>
    </div>
  </div>

  <div class="col-4">

    <div class="bg-dark bg-opacity-25 rounded-3 p-3" style="width: 25rem;">
      <h3>Task list</h3>
      <hr>
    
      <form id = "add_task_form">
        {{form}}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      

    </div>

  </div>

  <div class="col-4">
    <h3>API info</h3>
    <div class="card text-white bg-primary mb-3" style="max-width: 23rem;">
      <div class="card-body">
        

        <!-- api documentation -->
        <h5>Method: GET</h5>
        <p>URL: /api/task_list_all/</p>
        <h5>Request:</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="bg-transparent">Parameter</th>
              <th class="bg-transparent">Type</th>    
            </tr>
          </thead>
          <tbody>

            <tr>
              
              <td class="bg-transparent">email</td>
              <td class="bg-transparent">string</td>
              
            </tr>
            
            
          </tbody>
        </table>


        <!-- responce -->
        <h5>Responce:</h5>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="bg-transparent">Parameter</th>
              <th class="bg-transparent">Type</th>    
            </tr>
          </thead>
          <tbody>

            <tr>
              
              <td class="bg-transparent">200</td>
              <td class="bg-transparent">{task list}</td>
              
            </tr>
            
            
          </tbody>
        </table>


        
      </div>
    </div>

    <br>
    <h4>API Status</h4>
    <div class="card border-info bg-transparent mb-3" style="max-width: 18rem;">
      <div class="card-header">Status:</div>
      <div class="card-body">
        <p class="card-text">message:</p>
        <p class="card-text">return message</p>
      </div>
    </div>
  </div>
</div>

<script>
    document.getElementById("add_task_form").onsubmit = function(event) {
        event.preventDefault()
        console.log("form submit")
    }
</script>
{% endblock content %}