{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class=" row">
    <div class="col-4 px-5">
      <h3>API Log</h3>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">Task list all</a>
        <a href="#" class="list-group-item list-group-item-action">Login</a>
        <a href="#" class="list-group-item list-group-item-action">Signup</a>
        <a href="#" class="list-group-item list-group-item-action">Add task</a>
        <a href="#" class="list-group-item list-group-item-action">Check</a>
      </div>
    </div>

    <div class="col-4">

      <div class="bg-dark bg-opacity-25 rounded-3 p-3" style="width: 25rem;">
        <form class="">
            
            <div class="d-flex justify-content-center">
                <h2 class="">Login</h2>
            </div>
            
            <hr>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form2Example1" placeholder="Email address" class="form-control bg-transparent" />
              
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="form2Example2" placeholder="Password" class="form-control bg-transparent" />
              
            </div>
          
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-end">
                <a href="#!">Forgot password?</a>
              </div>
            </div>
          
            <!-- Submit button -->
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary">Sign in</button>
                
              </div>
          
            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="{% url 'signuppage' %}">Register</a></p>
              <p>or sign up with:</p>
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
          
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>
          
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
          
              <button type="button" class="btn btn-link btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
        </form>
      </div>

    </div>

    <div class="col-4">
      <h3>API info</h3>
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>

      <br>
      <h4>API Status</h4>
      <div class="card border-info bg-transparent mb-3" style="max-width: 18rem;">
        <div class="card-header">Status:</div>
        <div class="card-body">
          <p class="card-text">message:</p>
          <p class="card-text">return message</p>
        </div>
      </div>
    </div>
</div>
{% endblock content %}